<%- include('../layouts/adminheader.ejs')%>  
<%- include('../partials/messages.ejs')%>  

<div class="container-md"> 
<h2 class="page-title">add a page</h2> 
<a href="/admin/categories" class="btn btn-primary">back to all categories </a>
<br><br> 
<form action="/admin/addcategory" method="POST"> 
    <div class="form-group"   style="padding: 7;">
        <label for="">title</label>
        <input type="text" class="form-control" name="title" placeholder="title" value="<%=title %>">
        

    </div>
    <div class="form-group"  style="padding: 7;">
        <label for="">slug</label>
        <input type="text" class="form-control" name="slug" placeholder="slug" value="<%=slug %>">
        

    </div>

    <button class="btn btn-primary" > submit </button>

</form>
</div>
<%- include('../layouts/adminfooter.ejs')%> 