<%- include('../layouts/adminheader.ejs')%>  

<%- include('../partials/messages.ejs')%>  
<head>
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>


<div class="container-md"> 
    
<h2 class="page-title">Pages</h2> 
<a href="/admin/addpage" class="btn btn-primary">add new page </a> 
<table class="table table-striped"> 
    <thead>
        <tr class="home">
            <th>title</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        <% for(let page of pages) { %> 
            <tr id="id_<%=page._id%>"  >
                <td><%= page.title %></td> 
                <td><a href="/admin/editpage/<%= page._id %>">Edit</a></td> 
                <% if(page.slug=="home") { %>
                    <td></td>
                    <% } else { %>
                <td><a class="cd" href="/admin/deletepage/<%= page._id %>">delete</a></td>
                <% } %>
      <% } %>
    </tbody>

</table>

</div> 


<script>  
 $(function() {
            $( "tbody" ).sortable({
          update:function (){
            var ids =$( "tbody" ).sortable("serialize");
            var url ="/admin/reorder" 
             $.post(url,ids);
    }
            });
         }); 


</script>
<%- include('../layouts/adminfooter.ejs')%> 